/* Main Page Style */
body {
  background-color: black;
  font-family: Helvetica, Arial, sans-serif;
}
#main-container {
  min-width: 100vh;
  min-height: 100vh;
}
#content-section {
  min-width: 75%;
  min-height: 100%;
}
#navigation-section {
  position: sticky;
  min-width: 25%;
  min-height: 100%;
  background-color: rgba(0, 94, 255, 0.125);
}
.navigation-item {
  font-size: 4vh;
  color: rgb(255, 255, 255);
  transition: font-size 0.5s, text-shadow 0.5s, color 0.25s;
}
.navigation-item:hover {
  cursor: pointer;
  color: white;
  font-size: 8vh;
  text-shadow: 1.5vh 1.5vh 2vh;
}
.content-item {
  margin: 1%;
  color: white;
}

/* About Me page */
#content-about-me-text {
  padding: 3%;
  text-align: center;
  font-size: x-large;
}
.group-header {
  font-size: large;
  text-align: center;
}
#programming-languages-group,
#frameworks-group,
#tools-group,
#concepts-group
{
  margin: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.programming-languages-row,
.frameworks-row,
.tools-row,
.concepts-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 25vh;
  min-width: 100%;
}
.content-about-me-skill-card {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 30%;
  padding: 2%;
  margin: 5px;
  border: 1px solid rgb(3, 77, 174);
  border-radius: 10%;
  color: black;
}
.content-about-me-skill-card-image {
  min-height: 75%;
  width: 75%;
  height: 75%;
}
.content-about-me-skill-card-text {
  min-height: 25%;
  text-align: center;
}

/* Scrollbar Style */
::-webkit-scrollbar {
  width: 10px;
  border: 1px solid white;
}
::-webkit-scrollbar-track {
  background: rgba(0, 94, 255, 0.1);
}
::-webkit-scrollbar-thumb {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:hover {
  background: hsla(0, 0%, 100%, 0.4);
}
