/* Main Page Style */
:root {
  --font-color: rgb(255, 255, 255);
}

body {
  background-color: black;
  font-family: Helvetica, Arial, sans-serif;
}
a {
  text-decoration: none;
  color: var(--font-color);
}
#main-container {
  min-width: 100vh;
  min-height: 90vh;
}
#content-section {
  min-width: 75%;
  min-height: 100%;
}
#navigation-section {
  position: sticky;
  min-width: 25%;
  min-height: 100%;
  background-color: rgba(0, 94, 255, 0.125);
}
.navigation-item {
  font-size: 2vw;
  color: var(--font-color);
  transition: font-size 0.5s, text-shadow 0.5s, color 0.25s;
}
.navigation-item:hover {
  cursor: pointer;
  color: var(--font-color);
  font-size: 3vw;
  text-shadow: 1.5vw 1.5vw 2vw;
}
.content-item {
  margin: 1%;
  color: var(--font-color);
}

/* About Me page */
#content-about-me-text, #content-contact-text {
  margin: 3%;
  text-align: center;
  font-size: x-large;
}
.group-header {
  font-size: large;
  text-align: center;
}
#programming-languages-group,
#frameworks-group,
#tools-group,
#concepts-group
{
  margin: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.programming-languages-row,
.frameworks-row,
.tools-row,
.concepts-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 25vh;
  min-width: 100%;
}
.content-about-me-skill-card {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 30%;
  padding: 2%;
  margin: 5px;
  border: 1px solid rgb(3, 77, 174);
  border-radius: 10%;
  color: black;
}
.content-about-me-skill-card-image {
  min-height: 75%;
  width: 75%;
  height: 75%;
}
.content-about-me-skill-card-text {
  min-height: 10%;
  text-align: center;
}

/* Contact Page */
#contact-page-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.contact-page-group-row {
  display: flex;
  height: 20%;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
.contact-page-group-row-item {
  display: flex;
  overflow: hidden;
  max-width: 40%;
  margin: 0.5%;
  padding: 0.25%;
  min-height: 100%;
  flex-direction: row;
  align-items: center;
}
.contact-page-group-row-item > * {
  margin: 1%;
}
.contact-page-group-row > * {
  margin: 1%;
}
.contact-page-icon {
  height: 20%;
  width: 20%;
}
/* Scrollbar Style */
::-webkit-scrollbar {
  width: 10px;
  border: 1px solid white;
}
::-webkit-scrollbar-track {
  background: rgba(0, 94, 255, 0.1);
}
::-webkit-scrollbar-thumb {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:hover {
  background: hsla(0, 0%, 100%, 0.4);
}
